<!DOCTYPE html>
<html lang="en">

<head>
  <title>/home</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/index.css" />

    <!-- Font Awesome-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <script src="/vendor/jquery-3.0.0.js"></script>

</head>

<body>
  <%- include('partials/_header') %>
    <h1 class="currentpage">/ home</h1>
    <h1 class="filter">filter  <i class="fa-solid fa-filter"></i></h1>
    <form class="filter" action="/???" method="post">
        <label for="min">min $</label>
        <input type="text" id="min" name="min">
        <label for="min">max $</label>
        <input type="text" id="max" name="max">

        <button type="submit" class="favorite">favorites</button>
        <button type="submit" class="available">available?</button>
    </form>
    </div>

      <table>
        <thead>
          <tr>
            <th>Image</th>
            <th>Seller</th>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Size</th>
            <th>Gender</th>
            <th>Condition</th>
            <th>Listing Date</th>
          </tr>
        </thead>
        <tbody id="data-output">
        <% for (listing of listings) {%>
        <tr>
          <td><img src="<%= listing.photo_url %>"/></td>
          <td><%= listing.user_id %></td>
          <td><%= listing.name %></td>
          <td><%= listing.description %></td>
          <td><%= listing.price %></td>
          <td><%= listing.size %></td>
          <td><%= listing.gender %></td>
          <td><%= listing.condition %></td>
          <td><%= listing.listing_date %></td>
        </tr>
        <%}%>
        </tbody>
      </table>

</body>

</html>
