<!DOCTYPE html>
<html lang="en">

<head>
  <title>/home</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">


<!--
  Bootstrap stretch
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
 -->
 <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

    <!-- Font Awesome-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script src="/scripts/app.js"></script>

</head>

<body>
  <%- include('partials/_header') %>

  <main>

    <section class="top-container">
<h1 class="currentpage">/ Home</h1>
    <form class ='filterbar' action="/" method="post">
      <label for="minPrice">Min $</label>
      <input type="text" id="min" name="minPrice">
      <label for="maxPrice"> Max $</label>
      <input type="text" id="max" name="maxPrice">
      <% if (currentUser) { %>
        <label for="favorites" name="favorites">Favorites</label>
        <input id ="favorites" type="checkbox" name="favorites"></label>

        <% } %>
        <button type="submit">
          <i class="fa-solid fa-filter"></i></button>
    </form>
  </section>

<table>
  <thead class="index-column-heads">
          <tr>
            <th>Image</th>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Size</th>
            <th>Gender</th>
            <th>Condition</th>
            <th>Listing Date</th>

            <% if (currentUser) { %>
              <th>Message Seller</th>
              <th>Favorite</th>
              <% } %>
            </tr>
        </thead>
        <tbody id="data-output">
        <% for (listing of listings) {%>
          <tr>
            <td><img id="homeimg" src="<%= listing.photo_url %>"/></td>
            <td><%= listing.name %></td>
            <td><%= listing.description %></td>
            <td>$<%= listing.price %></td>
            <td><%= listing.size %></td>
            <td><%= listing.gender %></td>
            <td><%= listing.condition %></td>
            <td><%= listing.listing_date.toString().split('').splice(4, 11).join('') %></td>

          <% if (currentUser) { %>
            <td>
              <form method="POST" action="/send-email/<%= listing.id%>">
                <button type="submit" class="fa-regular fa-envelope message" ></button><br>
              </form>
            </td>
            <td>
              <form method="POST" action="/favorite">
                <button type="submit" class="fa-regular fa-heart favorite" listing-id="<%= listing.id %>"
                  ></button><br>
                  <span id="<%= listing.id %>"></span>
                </form>
              </td>
              <% } %>
            </tr>
            <%}%>
          </tbody>
        </table>
        </main>

      <%- include('partials/_footer') %>
    </body>
    </html>

    <!--
      Bootstrap stretch- unfinished
      <section class="bsgrid">
          <% for (listing of listings) {%>
          <div class="container">
            <div class="row">
              <div class="col">
                <img src="<%= listing.photo_url %>"/>
              </div>
            </div>
            <div class="row">
              <div class="col"><%= listing.name %></div>
              <div class="col">$<%= listing.price %></div>
            </div>
            <div class="row">
              <div class="col"><%= listing.description %></div>
            </div>
            <div class="row">
              <div class="col">Size: <%= listing.size %></div>
              <div class="col">Gender: <%= listing.gender %></div>
              <div class="col">Condition: <%= listing.condition %></div>
            </div>
            <div class="row">
              <div class="col"><%= listing.listing_date %></div>
              <% if (currentUser) { %>
              <div class="col">
                <form method="POST" action="/send-email/<%= listing.id%>">
                  <button type="submit" class="fa-regular fa-envelope message" style="border-color: transparent"></button><br>
                </form>
              </div>
              <div class="col">
                <form method="POST" action="/favorite">
                  <button type="submit" class="fa-regular fa-heart favorite" listing-id="<%= listing.id %>"
                    style="border-color: transparent"></button><br>
                  <span id="<%= listing.id %>"></span>
              </div>
              <% } %>
            </div>
          </div>
          <% } %>
        </section> -->
